body {
  font-family: 'KoHo', sans-serif;
}

.padLeft {
  padding-left: 50px;
}

.banner {
  width: 100%;
  height: 5%;
  font-size: 3.5rem;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 100px;
  background-image: url(../images/foodboxes.jpg);
  display: none;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fontBorder {
  text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
}

.sideA {
  display: inline-block;
  color: white;
  margin: 0;
}

#close {
  height: 40px;
  width: 40px;
  float: right;
  padding: 2px 2px;
  background: #ccc;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  font-size: 25px;
  font-weight: 900;
  display: inline-block;
}

input {
  width: 100px;
  padding: 5px;
}

.box {
  height: 150px;
  width: 150px;
  border: black solid;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.center {
  text-align: center;
}

.header {
  background-color: rgb(20, 155, 110);
  box-shadow: 0px 0px 20px 0px #645f5f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  color: white;
}

a {
  display: block;
  padding: 18px;
}

a:hover {
  color: white;
  /* background-color: cadetblue; */
}

.big {
  font-size: 3rem;
  padding-left: 10px;
}

.float {
  float: right;
}

.hershey {
  width: 100%;
  height: 400px;
  opacity: 0.3;
}

.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: black;
}

img {
  box-shadow: 10px 10px 10px #464343;
  margin-bottom: 20px;
}

.find {
  width: 100%;
  height: 30%;
  /* background-color: aquamarine;
  padding: 20px 0px 20px 0px;
  box-shadow: 10px 10px 10px #464343; */
}

#zipAlert {
  width: 200px;
  margin: auto;
  padding: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.green {
  background-color: rgb(30, 150, 30);
  box-shadow: 10px 10px 10px #464343;
}

.red {
  background-color: red;
  box-shadow: 10px 10px 10px #464343;
}

.cadetBlue {
  padding-top: 20px;
  background-color: cadetblue;
}

.featured {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  box-shadow: 10px 10px 10px #464343;
}

.restImg {
  width: 450px;
  height: 300px;
}

.featR {
  position: relative;
  width: 400px;
}

.bold {
  font-weight: 900;
}

.coupon-title {
  font-size: 2rem;
  font-weight: bold;
}

.coupon-description {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.coupon {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 300px;
  background: rgba(0, 0, 0, 0.6);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.coupon:hover {
  opacity: 1;
}

#mailList{
  margin: 50px 0px 50px 0px;
  width: 100%;
  height: 300px;
}

footer {
  margin: 10px 0 0 0;
  background-color: rgb(20, 155, 110);
  color: white;
  text-decoration: none;
  padding: 5px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-right: 20px;
}

.side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flavor {
  padding-top: 20px;
  font-weight: bolder;
}