.banner {
  width: 100%;
  height: 100px;
  font-size: 3.5rem;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 200px;
  height: 200px;
  background-image: url(../images/foodboxes.jpg);
}

.fontBorder {
  text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
}

.delImg {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  height: 150px;
  width: 150px;
  border: black solid;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.center {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  display: block;
  padding: 18px;
}

a:hover {
  color: white;
  background-color: cadetblue;
}

.big {
  font-size: 3rem;
}

.float {
  float: right;
}

.foodbox {
  width: 100%;
  height: 400px;
  opacity: 0.3;
}

.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: black;
}

input {
  padding: 5px;
}

.find {
  width: 100%;
  height: 30%;
}

footer {
  margin: 10px 0 0 0;
  background-color: rgb(9, 105, 10);
  color: white;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  padding-right: 20px;
}

.side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}